{% include 'default/header.html.twig' %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Usuários</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/users/add" class="btn btn-sm btn-outline-primary">Adicionar</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="table-responsive">
        <div class="card-header"></div>
        <table class="table table-striped table-sm">
            <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
            </thead>
            <tbody>
            {% for row in data.users %}
                <tr id="item-id-{{ row.id }}">
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td class="justify-content-end">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                            <span class="  dropdown-toggle btn btn-sm btn-success" data-toggle="dropdown" role="button"
                                  aria-expanded="false">
                            </span>
                                <div class="dropdown-menu">
                                    <a href="/users/permission/{{ row.id }}"
                                       class="btn btn-default btn-sm dropdown-item">Permissão</a>
                                    <a href="/users/edit/{{ row.id }}" class="btn btn-primary btn-sm dropdown-item">Editar</a>
                                    <div class="dropdown-divider"></div>

                                    <span
                                {{ row.id }}
                                    onclick="deleteItem('{{ row.id }}')"
                                    class="btn btn-sm btn-danger dropdown-item">
                                Remover
                            </span>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'default/footer.html.twig' %}

<script>
    function deleteItem(id) {
        if (confirm(`Vocẽ deseja remover este Usuário? #${id}`)) {
            let data = {
                delete: true,
                id: id
            }
            $.ajax({
                url: `/users/delete/${id}`,
                data: data,
                method: 'delete',
                success: function (response) {
                    if (response['status'] === true) {
                        $(`#item-id-${id}`).remove()
                    }
                }
            })
        }
    }

    $(document).ready(function () {
        hideLoading()
    })

</script>