{% include 'default/header.html.twig' %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Permissões</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="/users" class="btn btn-sm btn-success">Consultar</a>
            </div>
        </div>
    </div>
<div class="card table-responsive">
        <div class="card-header">
            <h4>Nome:{{ data['user']['name'] }} - Usuário:{{ data['user']['username'] }}</h4>
        </div>
        <form method="POST" autocomplete="off" class="form-inline m-3"
              action="/users/permission/{{ data['user']['id'] }}">
            <input type="hidden" value="{{ data['user']['id'] }}" name="user_id" class="form-control">
            <div class="form-group mx-sm-3 mb-2">
                <label for="list-user" class="sr-only">Usuário</label>
                <select class="form-control" id="list-websites" name="website_id" style="min-width: 20rem" required>
                    <option></option>
                    {% for row in data['list_websites'] %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-sm mb-2">Adicionar Permissão</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nome do Site</th>
                <th scope="col">GA:XXXX</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for row in data['websites'] %}
                <tr id="user-website-id-{{ row.ws_id }}">
                    <th>{{ row.name }}</th>
                    <td>{{ row.tracking_id }}</td>
                    <td>  <span
                                onclick="deleteItem('{{ row.ws_id }}')"
                                type="button"
                                class="btn btn-sm btn-danger">
                                Remover
                            </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% include 'default/footer.html.twig' %}

<script>
    function deleteItem(id) {
        if (confirm('Vocẽ deseja remover esse item?')) {
            let data = {
                delete: true,
                id: id
            }
            $.ajax({
                url: `/users/permission_delete`,
                data: data,
                method: 'post',
                success: function (response) {
                    if (response) {
                        $(`#user-website-id-${id}`).remove()
                    }
                }
            });
        }
    }

    $(".loading").hide();
</script>